flask==3.0.3
flask-socketio==5.3.6
python-socketio==5.11.2
python-engineio==4.9.0
redis==5.0.4
eventlet~=0.39.0
flask_compress
Flask-Compress~=1.17
psycopg2-binary
flask_sqlalchemy
gunicorn
eventlet
requests




